/node_modules
/storage/*.key
/vendor
/main main ox
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.lock
/nbproject/private/
*.zip
*.rar
*.mp4
*.sql
*.bak
/scratch/
/.vscode/
/.agents