/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.lock
/nbproject/private/
/storage/logs
/storage/framework
/public/uploads
/public/File
/public/storage
/public/Admin_Certifcate
/public/assets
*.zip
*.rar
*.mp4
*.sql
*.bak
/scratch/
/.vscode/